@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1512px;
  height: 5203px;

  background: #FFFFFF;
  overflow-x: hidden;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.topbar {
  display: flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 1300px;
  height: 85px;
  left: 78px;
  top: 52px;
}

.topbar .logo {
  position: absolute;
  width: 85px;
  height: 85px;
  left: 0px;
  top: 0px;
}

.topbar .logoname {
  position: absolute;
  width: 65px;
  height: 53px;
  left: 105px;
  top: 32px;
}

.topbar .topbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  padding: 0px;
  margin: 10px;
  right: 31px;
  gap: 50px;

  width: 701.5px;
  height: 29px;

  flex: none;
  order: 1;
  flex-grow: 1;
}

.topbar .topbar-menu li a {
  list-style: none;
  text-decoration: none;
  margin-right: 12px;

  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #475467 !important;
}

.topbar .topbar-menu .active {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000 !important;
}

.copy-writing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 52px;

  position: absolute;
  width: 651px;
  height: 341px;
  left: 78px;
  top: 244px;
}

.copy-writing h2 {
  width: 651px;
  height: 220px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;

  color: #000000;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.copy-writing p {
  width: 651px;
  height: 69px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  /* Gray/500 */
  color: #667085;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.header-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 520px;
  height: 70px;
  left: 78px;
  top: 771px;
}

.header-button .btn-explore {
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  gap: 10px;

  width: 240px;
  height: 70px;

  /* Error/600 */
  background: #DB242D;
  border-radius: 40px 0px 40px 6px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  /* identical to box height */
  color: #FFFFFF;
}

.header-button .btn-contact-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 0px;
  gap: 10px;
  width: 240px;
  height: 70px;

  /* Error/600 */
  border: 1px solid #DB242D;
  border-radius: 40px 0px 40px 6px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  /* Error/600 */
  color: #DB242D;
}

.background {
  position: absolute;
  width: 714px;
  height: 814px;
  top: 172px;
  left: 760px;
  right: 12px;
  z-index: -20;

  background-image: url('../img/Image.png');
  background-repeat: no-repeat;
}

.background .background-2 {
  position: relative;
  width: 273px;
  height: 273px;
  
  top: 270.5px;
  left: 220px;

  background-image: url('../img/image 2-1.png');
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(0);
  transform: translateZ(0);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.media-partner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 65px 150px;
  gap: 72px;

  position: absolute;
  width: 1350px;
  left: 59px;
  top: 1122px;

  /* Gray/100 */

  background: #F2F4F7;
  /* Shadow/Elevation 1/E1 Hover state */

  box-shadow: 0px 0px 0px 1px rgba(16, 24, 40, 0.2), 0px 1px 2px rgba(16, 24, 40, 0.15);
  border-radius: 200px;
}

.media-partner .grab-logo {
  width: 150px;
  height: 57.69px;

  background-image: url('../img/Grab-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.media-partner .grab-logo:hover {
  width: 150px;
  height: 57.69px;
  transition: transform 0.75, opacity 1s;
  transition-duration: 2s;
  animation-timing-function: linear; 
  animation-direction: reverse;

  background-image: url('../img/Grab.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.media-partner .maxim-logo {
  width: 150px;
  height: 35.09px;

  background-image: url('../img/Maxim ().png');
  background-repeat: no-repeat;
  background-size: cover;
}

.media-partner .maxim-logo:hover {
  width: 150px;
  height: 35.09px;
  transform: translateX(-25%);
  transition: transform 0.75s, opacity 3s;
  animation-timing-function: linear;   
  transition-duration: 2s;

  background-image: url('../img/Maxim.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.media-partner .tiket-logo {
  width: 175px;
  height: 38.15px;

  background-image: url('../img/Tiket-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.media-partner .tiket-logo:hover {
  width: 175px;
  height: 38.15px;
  transition: transform 0.75, opacity 1s;
  animation-timing-function: linear; 
  transition-duration: 2s;

  background-image: url('../img/Tiket.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.media-partner .gojek-logo {
  width: 175px;
  height: 41.26px;

  background-image: url('../img/Gojek-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.media-partner .gojek-logo:hover {
  width: 175px;
  height: 41.26px;
  transition: transform 0.75, opacity 1s;
  animation-timing-function: linear; 
  transition-duration: 2s;

  background-image: url('../img/Gojek.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.about-us {
  justify-content: space-between;
  padding: 0px;
  gap: 80px;

  position: absolute;
  width: 1275px;
  height: 873px;
  left: 118px;
  top: 1501px;
}

.about-us .about-us-img {
  width: 620px;
  height: 799px;
  
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 100px;
  margin: 0px 80px;

  width: 575px;
  height: 873px;
}

.about-us-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 270px;
  height: 114px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-us-text .about-us-head .rectangle {
  width: 86px;
  height: 114px;
  margin: 0px -30px;

  background: #DB242D;
  border-radius: 0px 0px 0px 50px;
}

.about-us-text .about-us-head h2 {
  width: 214px;
  height: 55px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #344054;
}

.about-us-text .about-us-head h2 span {
  color: #DB242D;
}

.about-us-text p {
  width: 575px;
  height: 544px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.2px;

  color: #475467;
}

.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 110px;
  gap: 108px;

  position: absolute;
  width: 1502px;
  height: 874px;
  left: 0px;
  top: 2667px;
}

.our-services h2 {
  width: 297px;
  height: 55px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  color: #344054;
}

.our-services h2 span {
  color: #DB242D;
}

.our-services button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 25px;

  position: relative;
  width: 392px;
  height: 77px;
  left: 0px;
  top: 619px;

  background: #DB242D;
  border-radius: 0px 0px 0px 50px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  text-align: center;

  color: white;
}

.our-services .airport-n-expedition {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 175px;

  left: 100px;

  width: 1255px;
  height: 711px;
}

.our-services img {
  position: absolute;
  width: 392px;
  height: 600px;

  border-radius: 0px 50px 0px 0px;
}

.our-services .airport-booth, .fresh-delivery {
  width: 392px;
  height: 711px;
}

.our-services .restaurant {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 175px;

  width: 959px;
  height: 711px;
}

.contact {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 50px;
  top: 3747px;

  /* Neutral/0 */

  background: #FFFFFF;
}

.contact .form-contact h4 {
  position: absolute;
  width: 184px;
  height: 24px;
  left: 160px;
  top: 120px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-feature-settings: 'ss01' on, 'ss03' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on;

  color: #DB242D;
}

.contact .form-contact h2 {
  position: absolute;
  width: 448px;
  height: 60px;
  left: 160px;
  top: 160px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  /* identical to box height, or 136% */

  letter-spacing: -0.015em;
  font-feature-settings: 'pnum' on, 'lnum' on, 'ss03' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on, 'case' on, 'cpsp' on;

  /* Neutral/900 */

  color: #07090D;
}

.contact .form-contact .input-group-name, .input-group-email, .input-group-message, .btn-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  position: absolute;
  width: 448px;
  height: 76px;
}

.contact .form-contact .input-group-name {
  left: 160px;
  top: 260px;
}

.contact .form-contact .input-group-email {
  left: 160px;
  top: 360px;
}

.contact .form-contact .input-group-message {
  height: auto;
  left: 160px;
  top: 460px;
}

.contact .form-contact .check-term {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 297px;
  height: 24px;
  left: 160px;
  top: 608px;
}

.contact .form-contact .btn-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;

  position: absolute;
  width: 448px;
  height: 48px;
  left: 160px;
  top: 664px;

  background: #DB242D;
  border-radius: 6px;
}

.contact .form-contact .btn-submit:hover {
  background: #1237A5;
  border-color: #1237A5;
}

.contact .form-contact label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 448px;
  height: 24px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: -0.09px;
  font-feature-settings: 'ss01' on, 'ss03' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on;

  /* Neutral/900 */

  color: #07090D;
}

.contact .form-contact .check-term label {
  /* Content/Button */
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: -0.09px;
  font-feature-settings: 'ss01' on, 'ss03' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on;

  /* Neutral/600 */
  color: #586174;
}

.contact .form-contact .name-input, .email-input, .message-input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px 12px 12px;
  gap: 8px;

  width: 448px;
  height: 48px;

  /* Neutral/0 */

  background: #FFFFFF;
  /* Neutral/200 */

  border: 1px solid #E7EAEE;
  border-radius: 6px;
}

.contact .form-contact .message-input {
  height: 96px;
}

.contact .form-contact .input-group-name .prepend {
  width: 24px;
  height: 24px;
}

.contact .form-contact .prepend img {
  position: absolute;
  width: 22px;
  height: 22px;
  bottom: 2px;
  left: 12px;
  /* top: 12px; */
  /* top: 4.36px;
  left: 4.36px; */
}

.contact .form-contact .input-group-email .prepend img {
  width: 18px;
  height: 15px;
  bottom: 6px;
  left: 15px;
}


.contact .form-contact input[type=text], input[type=email]  {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* padding: 12px 16px 12px 12px; */
  gap: 8px;

  width: 448px;
  height: 48px;

  /* Neutral/0 */

  background: #FFFFFF;
  /* Neutral/200 */

  border: 1px solid #E7EAEE;
  border-radius: 6px;
}

.contact .form-contact .input-name, .input-email {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
  padding-left: 44px;
  padding-top: 12px;
  padding-bottom: 12px;

  gap: 8px;

  width: 448px;
  height: 48px;

  /* Neutral/0 */

  background: #FFFFFF;
  /* Neutral/200 */

  border: 1px solid #E7EAEE;
  border-radius: 6px;
}


.contact-frame {
  position: absolute;
  width: 608px;
  height: 772px;
  left: 768px;
  top: 64px;

  /* Error/600 */

  background: #DB242D;
  border-radius: 32px;
  
  display: flex; /*added*/
  flex-direction: column; /*added*/
}

.contact-frame .circle-1 {
  position: absolute;
  width: 600px;
  height: 600px;
  /* left: -320px;
  top: -320px; */

  /* Error/800 */

  /* background: #930F2C;

  border-radius: 100%; */

  background-image: url('../img/Ellipse\ 536.png');
  background-repeat: no-repeat;

  border-radius: 32px 0px 0px 0px;
}

/* .contact-frame .circle-1::before {
  mask-border-outset: initial;
  display: none;
  z-index: -2000;
} */

.contact-frame .circle-2 {
  position: absolute;
  width: 288px;
  height: 452px;
  left: 320px;
  top: 320px;

  /* background-color: transparent;

  border-radius: 100%; */

  background-image: url('../img/Ellipse\ 535.png');
  background-repeat: no-repeat;

  border-radius: 0px 0px 32px 0px;
}

.contact-frame .frame-1 {
  position: absolute;
  width: 528px;
  height: 320px;
  left: 40px;
  top: 40px;

  background: url('../img/Frame\ 6.png'), #FFFFFF;
  border-radius: 12px;
}

.contact-frame .frame-2 {
  position: absolute;
  width: 528px;
  height: 320px;
  left: 40px;
  top: 384px;

  background: url('../img/Frame\ 8.png'), #FFFFFF;
  border-radius: 12px;
}

.contact-frame .frame-3 {
  position: absolute;
  width: 528px;
  height: 320px;
  left: 40px;
  top: 728px;

  background-image: url('../img/Frame\ 7.png');
  background-repeat: no-repeat;
  border-radius: 12px;
}

.footer {
  position: absolute;
  width: 1512px;
  height: 472px;
  left: 0px;
  top: 4731px;

  /* Error/700 */
  background: #B7192E;
}

.footer .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 56px;

  position: absolute;
  width: 1120px;
  height: 290px;
  left: 160px;
  top: 96px;
}

.footer .wrap .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 544px;
  height: 130px;
}

.footer .wrap .head .company-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 112px;
  height: 50px;
}

.footer .wrap .head .company-logo .logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
}

.footer .wrap .head .company-logo .logoname {
  width: 50px;
  height: 40px;
}

.footer .wrap .head p {
  width: 544px;
  height: 56px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  text-align: center;
  letter-spacing: -0.18px;
  font-feature-settings: 'ss01' on, 'ss03' on, 'cv03' on, 'cv04' on, 'cv06' on, 'cv09' on;

  /* White */

  color: #FFFFFF;
}

.footer .wrap .foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 56px;

  width: 1120px;
  height: 104px;
}

.footer .wrap .foot .hr {
  width: 1120px;
  height: 0px;

  /* Neutral/800 */

  border: 1px solid #1B212C;
}

.footer .wrap .foot .social button {
  padding: 8px 12px;
}